<!doctype html>

<title>(Another) William College Course Catalog</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">

<nav>
    <h1><span id="another">(Another)</span> Williams College Course Catalog</h1>
    {% block nav %}{% endblock %}
</nav>

<section>
    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}

    {% block content %}{% endblock %}
</section>
