body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

#mask {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 10;
}

#dialog {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: auto;
    padding: 2em;
    width: 50%;
    min-width: 200px;
    max-width: 400px;
    background-color: white;
    box-shadow: 0 0 1em gray;
    border-radius: 2em;
}

#dialog-title {
    margin: 0;
}

#dialog form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#dialog input {
    margin-top: 1em;
    border: 1px solid #aaa;
    border-radius: 0.5em;
    padding: 0.5em;
}

#dialog input[type="text"], #dialog input[type="password"] {
    flex: none;
    width: 100%;
}

.dialog-button {
    flex: 1 1 auto;
}

.dialog-button + .dialog-button {
    margin-left: 1em;
}

#close-dialog {
    background: #222;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: 0 0 5px gray;
    position: absolute;
    right: -0.5em;
    top: -0.5em;
    cursor: pointer;
}

#close-dialog svg {
    margin: 3px;
}

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3em;
    background-color: #222;
    overflow: hidden;
    z-index: 1;
}

#navbar-inner {
    width: 90%;
    line-height: 3em;
    max-width: 800px;
    margin: 0 auto;
    color: white;
    display: flex;
}

#navbar h1 {
    margin: 0;
    font-size: 1em;
    display: inline-block;
    flex: 1 0 auto;
}

#navbar a {
    flex: 0 1 auto;
    color: white;
    text-decoration: none;
}

#navbar a:hover {
    text-decoration: underline;
}

#navbar a+a {
    margin-left: 1em;
}

#another {
    color: #aaa;
}

#another:after {
    color: white;
    content: ' WILLIAMS COLLEGE COURSE ';
}

#toolbar {
    margin: 4em auto 0 auto;
    width: 90%;
    max-width: 800px;
    display: flex;
}

.tool-button {
    flex: none;
    margin: auto 0 auto 2em;
    font-weight: bolder;
    color: #222;
    text-decoration: none;
}

.tool-button svg {
    position: absolute;
    margin-left: -20px;
}

.tool-button:hover {
    text-decoration: underline;
}

#search {
    flex: 1 1 auto;
    border: 1px solid #aaa;
    padding: 0.5em;
    border-radius: 0.5em;
}

#courses {
    width: 90%;
    max-width: 800px;
    margin: 1em auto;
}

.course-header {
    line-height: 1.5em;
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
    margin-left: -20px;
    padding-left: 20px;
}

.add-to-bucket {
    position: absolute;
    margin: 4px -20px;
    font-weight: bolder;
}

.course-header:hover .add-to-bucket {
    display: inline-block;
}

.course-id {
    flex: 0 0 6em;
    font-weight: bolder;
    color: #222;
}

.course-title {
    flex: 0 1 auto;
}

.course-instr {
    flex: 1 1 auto;
    font-weight: bolder;
    color: #222;
    text-align: right;
}

.course-details {
    width: 90%;
    margin: 1em auto;
}

.course-desc {
    line-height: 1.4em;
}

.course-sections {
    border-top: 1px dashed #222;
    margin-top: 1em;
}

.specifics-row {
    display: flex;
    margin-top: 0.5em;
}

.specifics-key {
    flex: 0 0 30%;
    margin-right: 0.5em;
    font-weight: bolder;
    color: #222;
}

.specifics-value {
    flex: auto;
    margin: 0;
    padding: 0;
    list-style-position: inside;
}

.collapse {
    margin-top: 1em;
    font-weight: bolder;
    color: #888;
    cursor: pointer;
}

@media screen and (min-width: 501px) and (max-width: 650px) {
    #another::after { content: ' '; }
    #toolbar { flex-wrap: wrap; }
    #search { width: 100%; }
    .tool-button { margin-top: 1em; margin-left: 20px; }
    .tool-button + .tool-button { margin-top: 1em; margin-left: 2em; }
}

@media screen and (max-width: 500px) {
    #another::after { content: ' '; }
    .dialog-button { width: 100%; }
    .dialog-button + .dialog-button { margin-left: 0; }
    #toolbar { display: block; }
    #search, .tool-button { display: block; width: 100%; text-align: left; }
    .tool-button { margin-top: 1em; margin-left: 1em; }
    .course-header { display: block; margin-bottom: 0.5em; margin-left: 1em; padding-left: 0;}
    .course-header > span { display: block; }
    .course-instr { text-align: left; }
    .specifics-row { display: block; }
    .specifics-row > span { display: block; }
    .course-header { margin-left: 1em; }
}
